<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/head"></header>

<main role="main" class="container">

    <div class="starter-template">
        <h1>About the project</h1>
        <p class="lead">Worked on the project Sergaliev Bibarys (WEB-RUSS group)<br>
            <a href="https://github.com/hgxey6/univerp">Source code</a><br>
            Gmail - bibarys666s@gmail.com</p>

    </div>

</main>

</body>

</html>