<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/head"></header>

<!--Контейнер -->
<div class="container mt-5">
    <div th:each="element : ${article}" class="alert alert-info mt-2">
        <h1 th:text="${element.title}"/>
        <p th:text="${element.text}"/>
        <p> <strong>Number of views</strong> <span th:text="${element.views}"/></p>
        <a th:href="'/blog/' + ${element.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
        <form th:action="'/blog/' + ${element.id} + '/delete'" method="post">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
    </div>
</div>


<div th:insert="blocks/footer"></div>
</body>
</html>