<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/head"></header>

<!--Контейнер -->
<div class="container mt-5">
    <h1>News</h1>
    <div th:each="element : ${articles}" class="alert alert-info mt-2">
        <h3 th:text="${element.title}"/>
        <p th:text="${element.anons}"/>
        <a th:href="'/blog/' + ${element.id}">Read Article</a>
    </div>
</div>


<div th:insert="blocks/footer"></div>
</body>
</html>