<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/head"></header>

<div th:each="element : ${articles}" class="jumbotron">
    <div class="container">
        <h2 th:text="${element.title}" class="display-4"></h2>
        <p th:text="${element.anons}"/>
        <p><a class="btn btn-primary btn-lg" th:href="'/blog/' + ${element.id}" role="button">Learn more »</a></p>
    </div>
</div>

<div th:insert="blocks/footer"></div>
</body>
</html>